.container h2 {
  color: green;
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  gap: 1rem;
  padding: 1rem;
}
.container h1 {
  color: green;
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
}
.container h2 {
  padding: 1rem;
  border: 1px solid red;
}
.container section {
  display: flex;
}
.container section article {
  border: 1px solid green;
  color: blue;
  font-size: 1rem;
  padding: 1rem;
}
.container section article p {
  margin: auto;
}
.container section article:nth-child(even) {
  border: 1px solid green;
  color: red;
  font-size: 1rem;
}
.container section:nth-child(4) article {
  border: 1px solid blue;
  color: green;
  font-size: 24px;
}
.container .esercizio-8 {
  display: flex;
  gap: 1rem;
}
.container .esercizio-8 div {
  height: 2.8125rem;
  width: 2.8125rem;
  border: 0.0625rem solid red;
}
.container .esercizio-8 div:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.container .esercizio-8 div:nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.container .esercizio-8 div:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}
.container .esercizio-8 div:nth-child(4) {
  background-color: #cccccc;
  color: #333333;
}
.container .esercizio-8 div:nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
}
.container .esercizio-8 div:nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
.container .esercizio-8 div:nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
}
.container .esercizio-8 div:nth-child(8) {
  background-color: #999999;
  color: #666666;
}
.container .esercizio-8 div:nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
}
.container .esercizio-8 div:nth-child(10) {
  background-color: blue;
  color: red;
}
.container .esercizio-8 div:nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
}
.container .esercizio-8 div:nth-child(12) {
  background-color: #666666;
  color: #999999;
}
.container .esercizio-8 div:nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
}
.container .esercizio-8 div:nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
.container .esercizio-8 div:nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
}
.container .esercizio-8 div:nth-child(16) {
  background-color: #333333;
  color: #cccccc;
}
.container .esercizio-8 div:nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
}
.container .esercizio-8 div:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.container .esercizio-8 div:nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}/*# sourceMappingURL=style.css.map */